@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;900&family=Inter:wght@900&display=swap');
html {
  scroll-behavior: smooth;
}
.app {
  text-align: center;
  display: d-flex;
  align-items: center;
  justify-content: center;
}
a { color: inherit; } 
a:hover{
  color: #52a9ff;
}
select {
  width: 90%;
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

input[type=text] {
  width: 80%;
  padding: 6px 10px;
  margin: 8px 0;
  border-radius: 4px;
  border-style: none;
  
}
input[type=number] {
  width: 80%;
  padding: 6px 10px;
  margin: 8px 0;
  border-radius: 4px;
  border-style: none;
}

/* CSS */
.button-1 {
  background-color: #0080ff;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  line-height: 20px;
  list-style: none;
  margin: 10px;
  outline: none;
  padding: 5px 8px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #dfe1ff;
  color: #0180ff;
}
.editClass {
  border-radius: 8px;
  display:d-flex;
  width: auto;
  align-items: center;
  background-color: #767d8b;
  color: white;
  padding: 40px;
  font-family: 'Encode Sans', sans-serif;
  text-align: center;

}

.addClass{
  border-radius: 8px;
  background-color: #2d3b57;
  color: white;
  padding: 40px;
  font-family: 'Encode Sans', sans-serif;
  text-align: center;
}

.tasks{
  display:d-flex;
  justify-content: center;
  border-radius: 8px;
  align-items: center;
  background-color: #2d3b57;
  color: white;
  padding: 40px;
  width: auto;
  font-family: 'Encode Sans', sans-serif;
  text-align: center;
}

.listClass {
  color: white;
  width:auto;
  font-family: 'Encode Sans', sans-serif;
  font-family: 'Inter', sans-serif;
}
.todoapp{

  position: absolute;
  left: 50%;
  width: 400px;
  height: min-content;
  margin-left: -240px;
  /* -1/2 width */
  align-items: center;
  color: white;
  padding: 40px;
  font-family: 'Encode Sans', sans-serif;
  font-family: 'Inter', sans-serif; 
  text-align: center;
}

body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
